*{
	margin: 0;
	padding: 0;
}
header{
	background-color: black;
	background-size: cover;
	background-position: center;
	background-repeat: none;
}
body{
 background-color:black;
 
}
ul{
	float: right;
	list-style-type: none;
	margin-top: 45px; 
	font-family: Algerian;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.5s;
}
ul li a:hover
{
	background-color:red;
	color:#fff;
}
ul li .active a
{
	background-color:red;
	color:#fff;
}
.main
{
	max-width: 980px;
	margin-top: auto;
}
.title
{
	background-position: center;
	padding-bottom: 50%;
	position: absolute;
	top:40%;
	left: 24%;
	transform: (-50%,-50%);
}
.title h1{
	color: red;
	font-size:70px;
	outline-color: #fff;
}
