*{
	margin: 0;
	padding: 0;
}
header{
	background-color: #ffffcc;
	height: 150vh;
	background-size: cover;
	background-position: center;
	background-repeat: none;
}
ul{
	float: right;
	list-style-type: none;
	margin-top: 45px; 
	font-family: Algerian;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: #000;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.5s;
}
ul li a:hover
{
	background-color:#000;
	color:#fff;
}
ul li .active a
{
	background-color:#000;
	color:#fff;
}
ul li a .mobicart{
	text-decoration: none;
	color: #000;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.5s;
	left:35%;
}
.main
{
	max-width: 1500px;
	margin-top: auto;
}
.title
{
	background-position: center;
	padding-bottom: 50%;
	position: absolute;
	top:40%;
	left: 20%;
	transform: (-50%,-50%);
}
.title h1{
	color: #000;
	font-size:70px;
}
